* {
  margin: 0;
  padding: 0;
  zoom: 1.05;
}

*:focus {
  outline: none;
}

body {
  background-color: rgb(1, 1, 1);
}

input {
  border: 0;
  width: 205px;
  height: 50px;
  font-weight: 400;
  font-size: medium;
  font-size: x-large;
  color: rgb(172, 172, 172);
  background-color: rgb(1, 1, 1);
  caret-color: rgba(122, 192, 186, 0.75);
}

button {
  width: 50px;
  height: 50px;
  font-weight: 400;
  font-size: large;
  /* margin: 0, 0.5, 1000, 100.5; */
  /* margin-top: 0px;
  margin-left: 0.5px;
  margin-right: 0.5px; */
  border-radius: 25px;
  color: rgba(156, 210, 97, 0.82);
  background-color: rgba(23, 23, 23, 0.9);
}

.parentInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.233);
}

.dot,
.zero,
.sign,
.equal,
.number {
  color: rgb(172, 172, 172);
}

.clear {
  color: rgba(233, 120, 116, 0.87);
}

.equal {
  background-color: rgba(65, 126, 4, 0.49);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allBtns {
  margin-top: 25px;
  /* border: 5px solid whitesmoke; */
}

/* .all {
  border: 5px solid whitesmoke;
} */

/* .engOps {
  border: 5 solid red;
} */

/* .preview {
  color: rgb(172, 172, 172);
  max-width: 205px;
  max-height: 50px;
  overflow: scroll;
  overflow-y: hidden;
} */

/* .preContainer {
  border: 50 solid white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: 5px;
} */
