* {
  margin: 0;
  padding: 0;
  zoom: 1.05;
}

*:focus {
  outline: none;
}

body {
  background-color: rgb(1, 1, 1);
  font-family: lato;
  font-weight: 400;
}

input {
  border: 0;
  width: 100%;
  height: 50px;
  font-size: x-large;
  color: rgb(172, 172, 172);
  background-color: rgb(1, 1, 1);
  caret-color: rgba(122, 192, 186, 0.75);
}

/* change btn width */
button {
  width: 50px;
  height: 50px;
  font-weight: 400;
  font-size: large;
  /* margin-bottom: 10px; */
  margin-left: 10px;
  border-radius: 25px;
  color: rgba(156, 210, 97, 0.82);
  background-color: rgba(23, 23, 23, 0.9);
}

.options {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.233);
}

.parentInput {
  width: 100%;
  padding-bottom: 50px;
  /* border: 1px solid blueviolet; */
}

.eng,
.dot,
.zero,
.sign,
.equal,
.number {
  color: rgb(172, 172, 172);
}

.clear {
  color: rgba(233, 120, 116, 0.87);
}

.equal {
  background-color: rgba(65, 126, 4, 0.49);
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allBtns {
  margin-top: 25px;
  /* border: 5px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.left {
  margin-right: 15px;
}

.answer {
  color: rgba(172, 172, 172, 0.568);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

/* .all {
  border: 5px solid whitesmoke;
} */

/* .engOps {
  border: 5 solid red;
} */

/* .preview {
  color: rgb(172, 172, 172);
  max-width: 205px;
  max-height: 50px;
  overflow: scroll;
  overflow-y: hidden;
} */

/* .preContainer {
  border: 50 solid white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: 5px;
} */
