* {
  margin: 0;
  padding: 0;
  zoom: 1.05;
}

*:focus {
  outline: none;
}

body {
  background-color: rgb(1, 1, 1);
  font-family: lato;
  font-weight: 400;
}

input {
  border: 0;
  width: 100%;
  height: 50px;
  font-size: x-large;
  color: rgb(172, 172, 172);
  background-color: rgb(1, 1, 1);
  caret-color: rgba(122, 192, 186, 0.75);
}

/* change btn width */
button {
  width: 50px;
  height: 50px;
  border: none;
  font-weight: 400;
  font-size: large;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 25px;
  color: rgba(156, 210, 97, 0.82);
  background-color: rgba(23, 23, 23, 0.9);
}

.options {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 0;
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.233);
  padding-bottom: 5px;
}

.parentInput {
  width: 100%;
  padding-bottom: 50px;
}

.eng,
.dot,
.zero,
.sign,
.equal,
.number {
  color: rgb(172, 172, 172);
}

.clear {
  color: rgba(233, 120, 116, 0.87);
}

.equal {
  background-color: rgba(65, 126, 4, 0.49);
}

.container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allBtns {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.left {
  margin-right: 15px;
}

.preview {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  color: rgba(172, 172, 172, 0.568);
  min-height: 20px;
}

.backspace {
  display: block;
  margin-left: auto;
  margin-right: 5px;
}
